// 按钮链接
button.link {
  padding: 0;
  border: 0;
  a {
    color: #101010;
    display: block;
    padding: 6px 4px;
    border: 1px solid #ccc;
    text-decoration: none;
  }
}
// 友情链接样式
.friendly-link-box {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  text-align: right;
  a{
    color: #efa465;
  }
}
